<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
  <link rel="stylesheet" href="static/bootstrap.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <h3>Car insurance quotes</h3>
</nav>

<div class="jumbotron">
  <h1 class="display-3">Welcome!</h1>
  <p class="lead">Please input all the required data in the following section: </p>
  <hr class="my-4">
  <form>
  <fieldset>
    <div class="form-group">
      <label for="vehicleValue">Vehicle value</label>
      <input type="number" class="form-control" id="vehicleValue" placeholder="Enter vehicle value">
      <small id="valueHelp" class="form-text text-muted">The value shall be inputted in euros</small>
    </div>
    <div class="form-group">
      <label for="selectCover">Select cover type</label>
      <select class="form-control" id="selectCover">
        <option>Comprehensive</option>
        <option>Third party</option>
      </select>
    </div>
    <div class="form-group">
      <label for="dateOfBirth">Vehicle value</label>
      <input type="date" class="form-control" id="dateOfBirth" placeholder="Enter your date of birth">
      <small id="dobHelp" class="form-text text-muted">The format should be Day/Month/Year</small>
    </div>
    <div class="form-group">
      <label for="penaltyPointsValue">Vehicle value</label>
      <input type="number" class="form-control" id="penaltyPointsValue" placeholder="Enter your penalty points">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>
</div>

</body>
</html>